In [1]:
import numpy as np
import pandas as pd
import selenium
from selenium.webdriver.common.keys import Keys
import matplotlib.pyplot as plt
import time
import os
from selenium.common.exceptions import NoSuchElementException
from selenium import webdriver

Question 1: Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver=webdriver.Chrome(r"C:\Users\Piyush\Downloads\chromedriver_win32 (1)\chromedriver.exe")
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.maximize_window()

In [3]:
details=[]

for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td"):
    details.append(i.text)
    
details=details[:180]

driver.close()
rank=[]
name=[]
artist=[]
views=[]
upload_date=[]
i=0

while i<len(details):
    rank.append(details[i])
    i+=1
    name.append(details[i])
    i+=1
    artist.append(details[i])
    i+=1
    views.append(details[i])
    i+=1
    upload_date.append(details[i])
    i+=2

In [4]:
YT=pd.DataFrame({"Rank":rank,
                "Name":name,
                "UPLOAD_DATE":upload_date,
                "VIEWS IN MILLION":views})
YT

,Rank,Name,UPLOAD_DATE,VIEWS IN MILLION
0,1.,"""Baby Shark Dance""[23]","June 17, 2016",9.46
1,2.,"""Despacito""[25]","January 12, 2017",7.57
2,3.,"""Johny Johny Yes Papa""[26]","October 8, 2016",5.78
3,4.,"""Shape of You""[27]","January 30, 2017",5.48
4,5.,"""See You Again""[28]","April 6, 2015",5.29
5,6.,"""Bath Song""[31]","May 2, 2018",4.55
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]","February 27, 2018",4.52
7,8.,"""Masha and the Bear – Recipe for Disaster""[33]","January 31, 2012",4.46
8,9.,"""Uptown Funk""[34]","November 19, 2014",4.32
9,10.,"""Phonics Song with Two Words""[35]","March 6, 2014",4.22
10,11.,"""Gangnam Style""[36]","July 15, 2012",4.21
11,12.,"""Dame Tu Cosita""[38]","April 5, 2018",3.63
12,13.,"""Sugar""[39]","January 14, 2015",3.57
13,14.,"""Sorry""[40]","October 22, 2015",3.47
14,15.,"""Roar""[41]","September 5, 2013",3.45
15,16.,"""Counting Stars""[42]","May 31, 2013",3.41
16,17.,"""Thinking Out Loud""[43]","October 7, 2014",3.34
17,18.,"""Wheels on the Bus""[44]","May 24, 2018",3.29
18,19.,"""Dark Horse""[45]","February 20, 2014",3.16
19,20.,"""Faded""[46]","December 3, 2015",3.16
20,21.,"""Girls Like You""[47]","May 31, 2018",3.14
21,22.,"""Lean On""[48]","March 22, 2015",3.11
22,23.,"""Bailando""[49]","April 11, 2014",3.11
23,24.,"""Shake It Off""[50]","August 18, 2014",3.10
24,25.,"""Let Her Go""[51]","July 25, 2012",3.09
25,26.,"""Axel F""[52]","June 16, 2009",3.04
26,27.,"""Mi Gente""[53]","June 29, 2017",2.99
27,28.,"""Perfect""[54]","November 9, 2017",2.98
28,29.,"""Waka Waka (This Time for Africa)""[55]","June 4, 2010",2.96
29,30.,"""Hello""[56]","October 22, 2015",2.89

Question 2: Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [4]:
driver=webdriver.Chrome(r"C:\Users\Piyush\Downloads\chromedriver_win32 (1)\chromedriver.exe")
driver.get('https://www.bcci.tv/')
driver.maximize_window()

btn=driver.find_element_by_xpath("//div[@class = 'navigation__drop-down drop-down drop-down--reveal-on-hover']/div/ul/li/a")
driver.get(btn.get_attribute("href"))

In [5]:
match_title=[]
series=[]
place=[]
date=[]
time=[]
datetime=[]
for i in driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[@class='u-unskewed-text fixture__format']"):
    match_title.append(i.text)
    
for i in driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    series.append(i.text)

for i in driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']/p/span"):
    place.append(i.text)
    
for i in driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']"):
    datetime.append(i.text.replace('\n',' '))
    
driver.close()

date=[i.split(' ',3)[:3] for i in datetime]
date=[' '.join(i) for i in date]
time=[i.split(' ',3)[-1] for i in datetime]

In [6]:
matches_data=pd.DataFrame({'match title':match_title,
                          "series":series,
                          "place":place,
                          "date":date,
                          "time":time})
matches_data

,match title,series,place,date,time
0,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Sunday 24 OCTOBER,19:30 IST
1,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Sunday 31 OCTOBER,19:30 IST
2,T20I,2021 ICC MEN'S T20 WORLD CUP,"Zayed Cricket Stadium, Abu Dhabi",Wednesday 03 NOVEMBER,19:30 IST
3,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Friday 05 NOVEMBER,19:30 IST
4,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Monday 08 NOVEMBER,19:30 IST
5,T20I,INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur",Wednesday 17 NOVEMBER,19:00 IST
6,T20I,INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi",Friday 19 NOVEMBER,19:00 IST
7,T20I,INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata",Sunday 21 NOVEMBER,19:00 IST
8,TEST,INDIA V NEW ZEALAND 2021,"Green Park, Kanpur",Thursday 25 NOVEMBER,09:30 IST
9,TEST,INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai",Friday 03 DECEMBER,09:30 IST
10,TEST,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",Friday 17 DECEMBER,13:30 IST
11,TEST,SOUTH AFRICA V INDIA 2021/2022,"Supersport Park, Centurion",Sunday 26 DECEMBER,13:30 IST
12,TEST,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",Monday 03 JANUARY,13:30 IST
13,ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Tuesday 11 JANUARY,14:00 IST
14,ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Friday 14 JANUARY,14:00 IST
15,ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Sunday 16 JANUARY,14:00 IST
16,T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Wednesday 19 JANUARY,19:30 IST
17,T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Friday 21 JANUARY,19:30 IST
18,T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Sunday 23 JANUARY,19:30 IST
19,T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Wednesday 26 JANUARY,19:30 IST

Question 3: Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [54]:
driver=webdriver.Chrome(r"C:\Users\Piyush\Downloads\chromedriver_win32 (1)\chromedriver.exe")
driver.get('https://www.guru99.com/exception-handling-selenium.html')
driver.maximize_window()

In [55]:
details=[]

for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td"):
    details.append(i.text)

driver.close()
name=[]
description=[]
i=0

while i<len(details):
    name.append(details[i])
    i+=1
    description.append(details[i])
    i+=1

In [56]:
Exceptions=pd.DataFrame({"Name":name,
                "Description":description})
Exceptions

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

Question 4: Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)

In [11]:
def State_wise_GDP():
    """Creating function that searches details of India State_wise_GDP"""
    
    template = 'http://statisticstimes.com/'#URL template for accessing the website.
    driver = webdriver.Chrome(r"C:\Users\Piyush\Downloads\chromedriver_win32 (1)\chromedriver.exe") #Calling the Web Driver.
    driver.get(template) #Opening with the URL template.
    driver.maximize_window() #Maximize the Window.
    
    href = [] #Declaring the list href to scrap all the href details
    for i in driver.find_elements_by_xpath("//div [@class = 'dropdown']/div [@class = 'dropdown-content']/a"):
        href.append(i.get_attribute('href'))
        
    driver.get(href[4]) #opening the href[4] which is GDP of India.
    
    href = [] #Declaring the list href to scrap all the href details of GDP of Indian states.
    for i in driver.find_elements_by_xpath("//div [@style = 'float:left;background-color:seashell;width:400px;height:800px;']/ul [@style = 'list-style-type:none;margin-left:20px;']/li/a"):
        if i.text == '» GDP of Indian states':
            href.append(i.get_attribute('href'))
    
    driver.get(href[0]) #opening the href[4] which is GDP of Indian states.
    
    Rank = [] #Declaring Rank list to collect the Rank details
    State = [] #Declaring State list to collect the State details
    GSDP20 = [] #Declaring GSDP20 list to collect the GSDP20 details
    GSDP19 = [] #Declaring GSDP19 list to collect the GSDP19 details
    Share = [] #Declaring Share list to collect the Share details
    GDP = [] #Declaring GDP list to collect the GDP details

    details = [] #scraping all the above mentioned details and storing it in the details list.
    for i in driver.find_elements_by_xpath("//tbody /tr [@role = 'row']/td"):
        details.append(i.text)
    
    driver.close() #Exiting the Driver post collecting all the details.
    
    details = details[:264] #Sorting the list with the required details.
    
    z= 0
    while z < len(details): # Splitting the collected details and storing it in the required list.
        Rank.append(details[z])
        z+=1
        State.append(details[z])
        z+=1
        GSDP20.append(details[z])
        z+=1
        GSDP19.append(details[z])
        z+=1
        Share.append(details[z])
        z+=1
        GDP.append(details[z])
        z+=3
    
    #Creating a DataFrame with collected details.
    table = pd.DataFrame({"Rank" : Rank,
                          "State" : State,
                          "GSDP(19-20)" : GSDP20,
                          "GSDP(18-19)" : GSDP19,
                          "Share(2018)" : Share,
                          "GDP($ billion)": GDP})
    
    return table #returing the dataframe.

In [12]:
GDP = State_wise_GDP() #Calling the function and storing it in a variable.
GDP.head(10)

  Rank           State GSDP(19-20) GSDP(18-19) Share(2018) GDP($ billion)
0    1     Maharashtra           -   2,632,792      13.94%        399.921
1    2      Tamil Nadu   1,845,853   1,630,208       8.63%        247.629
2    3   Uttar Pradesh   1,687,818   1,584,764       8.39%        240.726
3    4         Gujarat           -   1,502,899       7.96%        228.290
4    5       Karnataka   1,631,977   1,493,127       7.91%        226.806
5    6     West Bengal   1,253,832   1,089,898       5.77%        165.556
6    7       Rajasthan   1,020,989     942,586       4.99%        143.179
7    8  Andhra Pradesh     972,782     862,957       4.57%        131.083
8    9       Telangana     969,604     861,031       4.56%        130.791
9   10  Madhya Pradesh     906,672     809,592       4.29%        122.977

Question 5: Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [15]:
driver=webdriver.Chrome(r"C:\Users\Piyush\Downloads\chromedriver_win32 (1)\chromedriver.exe")
driver.get('https://github.com/')
driver.maximize_window()

button=driver.find_element_by_xpath("//ul [@class= 'list-style-none mb-3']/li [@class = 'edge-item-fix']/a [@data-ga-click = '(Logged out) Header, go to Trending']")
driver.get(button.get_attribute('href'))
href=[]
for i in driver.find_elements_by_xpath("//h1 [@class = 'h3 lh-condensed']/a"):
    href.append(i.get_attribute('href'))
    
driver.close()

Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

for i in href:
    driver=webdriver.Chrome(r"C:\Users\Piyush\Downloads\chromedriver_win32 (1)\chromedriver.exe")
    driver.get(i)
    driver.maximize_window()
    
    tit=driver.find_element_by_xpath("//h1 [@class = ' d-flex flex-wrap flex-items-center wb-break-word f3 text-normal']")
    Repository_title.append(tit.text.replace('\n',' '))
    
    try:
        des=driver.find_element_by_xpath("//div [@class = 'BorderGrid-cell']/p [@class = 'f4 mt-3']")
        Repository_description.append(des.text)
    except:
        Repository_description.append("-")
    count=[]
    try:
        for i in driver.find_elements_by_xpath("//span[@class ='Counter']"):
            count.append(i.get_attribute('title'))
            Contributors_count.append(count[-1])
    except:
        Contributors_count.append('1')
       
    lang = [] #Creating a Dummy Variable to collect the appropriate Language_used details.
    for i in driver.find_elements_by_xpath("//ul [@class = 'list-style-none']/li [@class = 'd-inline']//span"):
        lang.append(i.text)
    if (" ".join(lang)) == '':
        Language_used.append('-')
    else:
        Language_used.append(" ".join(lang))
        
    driver.close()

In [ ]:
github=pd.DataFrame({
    "Repository_Title":Repository_title,
    "Repository_description":Repository_description,
    "Contributors_count":Contributors_count[:25],
    "Language_used":Language_used
})
github

Question 6: Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [ ]:
driver=webdriver.Chrome(r"C:\Users\Piyush\Downloads\chromedriver_win32 (1)\chromedriver.exe")
driver.get('https://www.billboard.com/')
driver.maximize_window()

href=[]
for i in driver.find_elements_by_xpath("//li [@class='header__subnav_item']/a"):
    if i.text=='HOT 100':
        href.append(i.get_attribute('href'))
driver.get(href[0])

Song_name=[i.text for i in driver.find_elements_by_xpath("//span[@class='cahrt-element__information__song text--truncate color--primary']")]

Artist_name=[i.text for i in driver.find_elements_by_xpath("//span[@ class='chart-element__information__artist text--truncate color--secondary']")]

Last_week_rank=[i.text for i in driver.find_elemens_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")]

Peak_rank=[i.text for i in driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[@class='chart-element__meta text--center color--secondary text--peak']")]

Weeks_on_bord=[i.text for i in driver.find_elements_bY_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center]/div[@class='chart-element__meta text--center color--secondary text--week']")]

driver.close()

Question 7: Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [37]:
driver=webdriver.Chrome(r"C:\Users\Piyush\Downloads\chromedriver_win32 (1)\chromedriver.exe")
driver.get('https://www.naukri.com/')
driver.maximize_window()

Recruiters=driver.find_element_by_xpath("//li/a[@title='Search Recruiters']")
href=Recruiters.get_attribute('href')
driver.get(href)

search=driver.find_element_by_xpath("//div[@class='inpWrap']/input")
search.send_keys("Data science")

search_btn=driver.find_element_by_id("qsbFormBtn")
search_btn.click()

In [48]:
Name=[i.text for i in driver.find_elements_by_xpath("//a[@class='ellipsis']/span")]
company=[i.text for i in driver.find_elements_by_xpath("//i[@class='cmpIcn']")]
Designation=[i.text for i in driver.find_elements_by_xpath("//p[@class='highlightable']//span[@class='ellipsis clr']")]
skills=[i.text for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")]

loc=[]
try:
    location=driver.find_elements_by_xpath("//p[@class='highlightable']//small[@class='ellipsis']")
    for i in location:
        loc.append(i.text)
except NoSuchElementException:
    loc.append('-')

In [49]:
len(Name)

50

In [50]:
len(loc)

49

In [57]:
Naukri=pd.DataFrame({"Name":Name,
                    "Company":company,
                    "Designation":Designation,
                    "skills":skills})
Naukri

,Name,Company,Designation,skills
0,Aakash Harit,,HR Manager,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,,Company Recruiter,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,,Company HR,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We..."
4,Narasimha,,Company Recruiter,"Data Modeling, Data Wrangling, seaborn, eda, p..."
5,subhas patel,,Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec..."
6,Abhishek - Only Analytics Hiring - India and,,Recruitment Lead Consultant,"Analytics, Business Intelligence, Business Ana..."
7,Institute for Financial Management and Resear,,Programme Manager,Data Science
8,Balu Ramesh,,HR Administrator,"Machine Learning, algorithms, Go Getter, Compu..."
9,Asif Lucknowi,,Director,"Technical Training, Software Development, Pres..."
10,InstaFinancials,,Human Resource,"Software Development, It Sales, Account Manage..."
11,Priyanka Akiri,,HR Manager,"Oracle Dba, Data Science, Data Warehousing, ET..."
12,Kalpana Dumpala,,Executive Hiring,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
13,Mubarak,,Company HR,"Business Intelligence, Data Warehousing, Data ..."
14,Kushal Rastogi,,Company HR,"Office Administration, Hr Administration, tele..."
15,Ruchi Dhote,,Senior Executive Talent Acquisition,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
16,Mahesh Babu Channa,,HR Team Lead,"Social Media, digital media maketing, seo, smm..."
17,Kapil Devang,,HR Manager,"Big Data, Hadoop, Data Analytics, Data Science"
18,Manisha Yadav,,HR Executive,"Telecalling, Client Interaction, Marketing, Re..."
19,Riya Rajesh,,Manager Talent Acquisition,Data Science
20,Rashmi Bhattacharjee,,HR Head,"Corporate Sales, Software Development, Softwar..."
21,Faizan Kareem,,HR MANAGER,"Data Analytics, Data Science, Machine Learning..."
22,Rithika dadwal,,HR Recruiter,"Data Science, Machine Learning, Python, R, Dee..."
23,Sandhya Khandagale,,HR Recruiter,"Big Data, Data Science, Artificial Intelligenc..."
24,Shaun Rao,,Manager Human Resources,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
25,Azahar Shaikh,,Company Recruiter,"Data Science, Artificial Intelligence, Machine..."
26,Manas,,Lead Talent acquisition,"Software Architecture, Vp Engineering, Product..."
27,kumar,,Proprietor,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
28,Sunil Vedula,,CEO,"Signal Processing, Machine Learning, Neural Ne..."
29,Rajat Kumar,,Founder CEO,"Web Technologies, Project Management, Software..."
30,Priya Khare,,Senior Manager,"Data Science, Artificial Intelligence, analyti..."
31,Dhruv Dev Dubey,,Company Recruitment Head,"Server Administartion, Verilog, Vhdl, Digital ..."
32,Jayanth N,,Project Manager,"Data Analytics, Managed Services, Team Leading..."
33,SREEDHAR,,Recruitment Consultant,"Data Science, Machine Learning, Big Data Analy..."
34,Ravi Dubey,,Recruitment Manager,Walmart Interra Skeps Expressstores indifi whi...
35,Radha Manivasagam,,HR Executive,"Python, Artificial Intelligence, Machine Learn..."
36,Prateek Kumar,,Head,"Java, Python, Angularjs, Software Testing, Mac..."
37,Amit Sharma,,Consultant,"Machine Learning, Artificial Intelligence, Dat..."
38,Kanan,,senior technology instructor,"C, C++, Artificial Intelligence, Python, Php, ..."
39,Shashikant Chaudhary,,HR Recruiter/HR Excutive,"Relationship Management, Retail Sales, Private..."
40,Brad,,"Manager, Technical Recruiting","Data Science, Software Engineering"
41,Rutuja Pawar,,Technical Recruiter,"Data Science, Big Data Analytics, Digital Mark..."
42,Madhusudhan Sridhar,,Erp Implementer,"Data Science, Recruitment, Salary"
43,Ankit Sinha,,Head Analytics,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
44,Gaurav Chouhan,,Chief Technical Officer,"Software Development, Business Intelligence, B..."
45,Rashi Kacker,,Sr Product Manager,"Data Science, Node.js, Angularjs"
46,Ashwini,,Director Global Delivery,"Data Science, Media Marketing, Resource Planni..."
47,Balaji Kolli,,Co Founder,"Data Analysis, Learning, Data Science, Compute..."
48,Rajani Nagaraj,,HR Manager,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
49,ROHIT Kumar,,Architect,"Software Development, Core Java, Unit Testing,..."

Question 8: Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [27]:
driver=webdriver.Chrome(r"C:\Users\Piyush\Downloads\chromedriver_win32 (1)\chromedriver.exe")
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
driver.maximize_window()

details=[i.text for i in driver.find_elements_by_xpath("//table [@class='in-article sortable']//tr/td")]
driver.close()
details.remove('SOURCE: NIELSEN BOOK SCAN')
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]
j=0
while j<len(details):
    j+=1
    Book_name.append(details[j])
    j+=1
    Author_name.append(details[j])
    j+=1
    Volumes_sold.append(details[j])
    j+=1
    Publisher.append(details[j])
    j+=1
    Genre.append(details[j])
    j+=1

In [18]:
book_data=pd.DataFrame({"NAME":Book_name,
                       "AUTHOR":Author_name,
                       "VOLUME_SOLD":Volumes_sold,
                       "PUBLISHER":Publisher,
                       "GENRE":Genre})
book_data

,NAME,AUTHOR,VOLUME_SOLD,PUBLISHER,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Question 9: Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [28]:
driver=webdriver.Chrome(r"C:\Users\Piyush\Downloads\chromedriver_win32 (1)\chromedriver.exe")

driver.get('https://www.imdb.com/list/ls095964455/')

driver.maximize_window()

Name=[i.text for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")] 

Year_span=[i.text for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")]

Genre=[i.text for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[@class='genre']")]

Run_time=[i.text for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[@class='runtime']")]

Ratings=[i.text for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[@class='ipl-rating-star__rating']")]

Votes=[i.text for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[@name='nv']")]

In [29]:
TV_series=pd.DataFrame({"Name":Name,
                       "YEAR_SPAN":Year_span,
                       "Genre":Genre,
                       "Run TIME":Run_time,
                       "Rating":Ratings,
                       "Votes":Votes})
TV_series

,Name,YEAR_SPAN,Genre,Run TIME,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,883,831"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"917,061"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"905,237"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"271,097"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"231,456"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,933"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,804"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"177,541"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,953"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"204,476"

Question 10: Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [30]:
driver=webdriver.Chrome(r"C:\Users\Piyush\Downloads\chromedriver_win32 (1)\chromedriver.exe")

driver.get('https://archive.ics.uci.edu/ml/index.php')

driver.maximize_window()
    
respository=driver.find_element_by_xpath("//span[@class='normal']/b/a")
respository.click()
details=[i.text for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td")]
del details[:7]

Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]
j=0

while j<len(details):
    Dataset_name.append(details[j])
    j+=1
    Data_type.append(details[j])
    j+=1
    Task.append(details[j])
    j+=1
    Attribute_type.append(details[j])
    j+=1
    No_of_instances.append(details[j])
    j+=1
    No_of_attribute.append(details[j])
    j+=1
    Year.append(details[j])
    j+=1

In [31]:
Datasets=pd.DataFrame({"Dataset name":Dataset_name,
                      "Data type":Data_type,
                      "Task":Task,
                      "Attribute_type":Attribute_type,
                      "No of instances":No_of_instances,
                      "No of attribute":No_of_attribute,
                      "Year":Year})

Datasets

,Dataset name,Data type,Task,Attribute_type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021